# sphinx build files
doc/build

# setup.py
*.egg-info
build
dist

# jupyter notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

venv/
.vscode/
.cache/
__pycache__/
*.pyc
.idea/
.DS_Store

# Latex
*.sav
*.log
*.aux
*.bbl
*.bcf
*.blg
*.out
*.xml
*.gz
*.toc